[user]
  email = kaiftait@gmail.com
  name = Kai

[core]
  pager = delta
  editor = nvim

[pager]
  blame  = delta
  diff   = delta
  reflog = delta
  show   = delta

[interactive]
  diffFilter = delta --color-only # --features=interactive

[delta]
  hunk-header-style = omit
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  syntax-theme = base16-256
  side-by-side = true
  line-numbers = true
  wrap-max-lines = unlimited

[diff]
  colorMoved = default

[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"

[merge]
  tool = nvimdiff
  conflictstyle = zdiff3

[mergetool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"
  ; cmd = nvim -d "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false

